services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - VITE_BASE_API_URL=https://api-robux-republic.micdev.fr
    container_name: react_app
    restart: always
    ports:
      - "6683:3000" 
    networks:
      - reseau_partage
networks:
  reseau_partage:
    external: true
    name: global_network